services:
  db:
    image: postgres:16
    env_file:
      - .env
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  web:
    container_name: wagtail_web
    environment:
      - DJANGO_DEVELOPMENT=True
    restart: always
    build: .
    volumes:
      - .:/app
      - ./media:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
