{% load wagtailcore_tags wagtailimages_tags %}


{% for post in news %}
  <article class="news-card">
    <a href="{% pageurl post %}" class="news-card__image-wrap">
      {% if post.image %}
        {% image post.image fill-400x250 class="news-card__image" %}
      {% endif %}
    </a>

    <div class="news-card__content">
      <a class="news-card__title" href="{% pageurl post %}">
        {{ post.title }}
      </a>

      <div class="news-card__meta">
        {% if post.author %}
          <div class="news-card__author">
            {% if post.author.photo %}
              {% image post.author.photo fill-24x24 class="news-card__author-avatar" %}
            {% endif %}
            <span class="news-card__author-name">{{ post.author.name }}</span>
          </div>
        {% endif %}

        {% if post.publication_date %}
          <time class="news-card__date">
            {{ post.publication_date|date:"F d, Y"|capfirst }}
          </time>
        {% endif %}
      </div>
    </div>
  </article>
{% endfor %}

{% if news.has_next %}
  <button id="load-more" data-next="{{ news.next_page_number }}">
    Load more
  </button>
{% endif %}
