{% extends "base.html" %}
{% load i18n wagtailsettings_tags i18n_simple %}

{% block content %}
<section class="form-page contact">
  <h1 class="page-title">
    {{ page.title }}
  </h1>

  <p class="form-page__intro">{{ page.introduction }}</p>

  {% if success %}
    <div class="form-success">{{ page.success_message }}</div>
  {% else %}
    <div class="contact-layout">
      <div class="contact-card">
       <div>
          <h3>{% t "organisation_name" %}</h3>
            <p class="contact-card__info">{{ settings.home.GlobalSiteSettings.organization_name }}</p>
       </div>

        <div>
          <h3>{% t "contact_information" %}</h3>
        <p class="contact-card__info">{{ settings.home.GlobalSiteSettings.phone }}</p>
        <p class="contact-card__info-second">{{ settings.home.GlobalSiteSettings.email }}</p>

        </div>
        <div>
          <h3>{% t "address" %}</h3>
        <p class="contact-card__info">{{ settings.home.GlobalSiteSettings.city }}, {{ settings.home.GlobalSiteSettings.address }}<br/></p>
            <p class="contact-card__info-second">
                {{ settings.home.GlobalSiteSettings.postal_code }}
            </p>
        </div>
      </div>

      <form method="post" class="form-card contact">
        {% csrf_token %}

        <div class="row">
          <div class="form-group">
          {{ form.first_name }}
      </div>
          <div class="form-group">

        {{ form.last_name }}
      </div>
        </div>
        <div class="form-group">

        {{ form.email }}
      </div>

        <div class="form-group">

        {{ form.organisation }}
      </div>
        <div class="form-group">

        {{ form.message }}
      </div>

        <div class="form-submit contact">
          <button type="submit">{% t "send" %}</button>
        </div>
      </form>
    </div>
  {% endif %}
</section>
{% endblock %}
